<a href="https://colab.research.google.com/github/MohitSolunke/Google_Colab_Activities/blob/main/Spaek_ML_With_DT_%26_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2.1.4)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2024.8.30)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

In [ ]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
adult = fetch_ucirepo(id=2)

# data (as pandas dataframes)
X = adult.data.features
y = adult.data.targets

# metadata
print(adult.metadata)

# variable information
print(adult.variables)

{'uci_id': 2, 'name': 'Adult', 'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult', 'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv', 'abstract': 'Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 48842, 'num_features': 14, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'], 'target_col': ['income'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1996, 'last_updated': 'Mon Sep 09 2024', 'dataset_doi': '10.24432/C5XW20', 'creators': ['Barry Becker', 'Ronny Kohavi'], 'intro_paper': None, 'additional_info': {'summary': 'Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\r\n\r\nPrediction task is to determine whether a person makes over 50K a year.\r\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', 'citation': None}}
              name     role         type      demographic  \
0              age  Feature      Integer              Age
1        workclass  Feature  Categorical           Income
2           fnlwgt  Feature      Integer             None
3        education  Feature  Categorical  Education Level
4    education-num  Feature      Integer  Education Level
5   marital-status  Feature  Categorical            Other
6       occupation  Feature  Categorical            Other
7     relationship  Feature  Categorical            Other
8             race  Feature  Categorical             Race
9              sex  Feature       Binary              Sex
10    capital-gain  Feature      Integer             None
11    capital-loss  Feature      Integer             None
12  hours-per-week  Feature      Integer             None
13  native-country  Feature  Categorical            Other
14          income   Target       Binary           Income

                                          description units missing_values
0                                                 N/A  None             no
1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
2                                                None  None             no
3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
4                                                None  None             no
5   Married-civ-spouse, Divorced, Never-married, S...  None             no
6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
9                                       Female, Male.  None             no
10                                               None  None             no
11                                               None  None             no
12                                               None  None             no
13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
14                                       >50K, <=50K.  None             no

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=5a593f3df04efb24b518758378c9d6696ed2b4974a2c17b3540a5fa2e1e5360e
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('adult').getOrCreate()

In [ ]:
data = spark.read.csv('/content/adult.data', header=True, inferSchema=True)

In [ ]:
data.show()

+---+-----------------+--------+-------------+----+--------------------+------------------+--------------+-------------------+-------+-------+---+----+--------------+------+
| 39|        State-gov|   77516|    Bachelors|  13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male|   2174|  0|  40| United-States| <=50K|
+---+-----------------+--------+-------------+----+--------------------+------------------+--------------+-------------------+-------+-------+---+----+--------------+------+
| 50| Self-emp-not-inc| 83311.0|    Bachelors|13.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0.0|0.0|13.0| United-States| <=50K|
| 38|          Private|215646.0|      HS-grad| 9.0|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0.0|0.0|40.0| United-States| <=50K|
| 53|          Private|234721.0|         11th| 7.0|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0.0|0.0|40.0| United-States| <=50K|
| 28|          Private|338409.0|    Bachelors|13.0|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0.0|0.0|40.0|          Cuba| <=50K|
| 37|          Private|284582.0|      Masters|14.0|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0.0|0.0|40.0| United-States| <=50K|
| 49|          Private|160187.0|          9th| 5.0| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0.0|0.0|16.0|       Jamaica| <=50K|
| 52| Self-emp-not-inc|209642.0|      HS-grad| 9.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0.0|0.0|45.0| United-States|  >50K|
| 31|          Private| 45781.0|      Masters|14.0|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084.0|0.0|50.0| United-States|  >50K|
| 42|          Private|159449.0|    Bachelors|13.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178.0|0.0|40.0| United-States|  >50K|
| 37|          Private|280464.0| Some-college|10.0|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0.0|0.0|80.0| United-States|  >50K|
| 30|        State-gov|141297.0|    Bachelors|13.0|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0.0|0.0|40.0|         India|  >50K|
| 23|          Private|122272.0|    Bachelors|13.0|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0.0|0.0|30.0| United-States| <=50K|
| 32|          Private|205019.0|   Assoc-acdm|12.0|       Never-married|             Sales| Not-in-family|              Black|   Male|    0.0|0.0|50.0| United-States| <=50K|
| 40|          Private|121772.0|    Assoc-voc|11.0|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0.0|0.0|40.0|             ?|  >50K|
| 34|          Private|245487.0|      7th-8th| 4.0|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0.0|0.0|45.0|        Mexico| <=50K|
| 25| Self-emp-not-inc|176756.0|      HS-grad| 9.0|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0.0|0.0|35.0| United-States| <=50K|
| 32|          Private|186824.0|      HS-grad| 9.0|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0.0|0.0|40.0| United-States| <=50K|
| 38|          Private| 28887.0|         11th| 7.0|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0.0|0.0|50.0| United-States| <=50K|
| 43| Self-emp-not-inc|292175.0|      Masters|14.0|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0.0|0.0|45.0| United-States|  >50K|
| 40|          Private|193524.0|    Doctorate|16.0|  Married-civ-spouse|    Prof-specialty|       Husband|              White|   Male|    0.0|0.0|60.0| United-States|  >50K|
+---+-----------------+--------+-------------+----+--------------------+------------------+--------------+-------------------+-------+-------+---+----+--------------+------+
only showing top 20 rows

In [ ]:
labels = ['age','workclass','fnlwgt','education','numbers','marital','occupation','relation','race','gender','gain','loss','hourlypay','country','income']

In [ ]:
df = data.toDF(*labels)
df.show()

+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+
|age|        workclass|  fnlwgt|    education|numbers|             marital|        occupation|      relation|               race| gender|   gain|loss|hourlypay|       country|income|
+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+
| 50| Self-emp-not-inc| 83311.0|    Bachelors|   13.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0.0| 0.0|     13.0| United-States| <=50K|
| 38|          Private|215646.0|      HS-grad|    9.0|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0.0| 0.0|     40.0| United-States| <=50K|
| 53|          Private|234721.0|         11th|    7.0|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0.0| 0.0|     40.0| United-States| <=50K|
| 28|          Private|338409.0|    Bachelors|   13.0|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0.0| 0.0|     40.0|          Cuba| <=50K|
| 37|          Private|284582.0|      Masters|   14.0|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0.0| 0.0|     40.0| United-States| <=50K|
| 49|          Private|160187.0|          9th|    5.0| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0.0| 0.0|     16.0|       Jamaica| <=50K|
| 52| Self-emp-not-inc|209642.0|      HS-grad|    9.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0.0| 0.0|     45.0| United-States|  >50K|
| 31|          Private| 45781.0|      Masters|   14.0|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084.0| 0.0|     50.0| United-States|  >50K|
| 42|          Private|159449.0|    Bachelors|   13.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178.0| 0.0|     40.0| United-States|  >50K|
| 37|          Private|280464.0| Some-college|   10.0|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0.0| 0.0|     80.0| United-States|  >50K|
| 30|        State-gov|141297.0|    Bachelors|   13.0|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0.0| 0.0|     40.0|         India|  >50K|
| 23|          Private|122272.0|    Bachelors|   13.0|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0.0| 0.0|     30.0| United-States| <=50K|
| 32|          Private|205019.0|   Assoc-acdm|   12.0|       Never-married|             Sales| Not-in-family|              Black|   Male|    0.0| 0.0|     50.0| United-States| <=50K|
| 40|          Private|121772.0|    Assoc-voc|   11.0|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0.0| 0.0|     40.0|             ?|  >50K|
| 34|          Private|245487.0|      7th-8th|    4.0|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0.0| 0.0|     45.0|        Mexico| <=50K|
| 25| Self-emp-not-inc|176756.0|      HS-grad|    9.0|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0.0| 0.0|     35.0| United-States| <=50K|
| 32|          Private|186824.0|      HS-grad|    9.0|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0.0| 0.0|     40.0| United-States| <=50K|
| 38|          Private| 28887.0|         11th|    7.0|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0.0| 0.0|     50.0| United-States| <=50K|
| 43| Self-emp-not-inc|292175.0|      Masters|   14.0|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0.0| 0.0|     45.0| United-States|  >50K|
| 40|          Private|193524.0|    Doctorate|   16.0|  Married-civ-spouse|    Prof-specialty|       Husband|              White|   Male|    0.0| 0.0|     60.0| United-States|  >50K|
+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+
only showing top 20 rows

In [ ]:
# Checking for the corret datatype for each column
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: double (nullable = true)
 |-- education: string (nullable = true)
 |-- numbers: double (nullable = true)
 |-- marital: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relation: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- gain: double (nullable = true)
 |-- loss: double (nullable = true)
 |-- hourlypay: double (nullable = true)
 |-- country: string (nullable = true)
 |-- income: string (nullable = true)

In [ ]:
# Convert the some given feature in correct datatype
from pyspark.sql.functions import col
for i in ['age','fnlwgt','numbers','gain','loss','hourlypay']:
  new_df = df.withColumn(i, col(i).cast('integer'))

In [ ]:
new_df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: double (nullable = true)
 |-- education: string (nullable = true)
 |-- numbers: double (nullable = true)
 |-- marital: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relation: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- gain: double (nullable = true)
 |-- loss: double (nullable = true)
 |-- hourlypay: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- income: string (nullable = true)

In [ ]:
# Now Check for the NULL Values
from pyspark.sql.functions import *

new_df.select([count(when(col(c).isNull(), c)).alias(c) for c in new_df.columns]).show()

+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|age|workclass|fnlwgt|education|numbers|marital|occupation|relation|race|gender|gain|loss|hourlypay|country|income|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|  0|        0|     0|        0|      0|      0|         0|       0|   0|     0|   0|   0|        0|      0|     0|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+

In [ ]:
# Check for different values of columns
df.select('workclass').distinct().show()

+-----------------+
|        workclass|
+-----------------+
|        State-gov|
|      Federal-gov|
| Self-emp-not-inc|
|        Local-gov|
|          Private|
|                ?|
|     Self-emp-inc|
|      Without-pay|
|     Never-worked|
+-----------------+

In [ ]:
# replace the unwanted value  with None
df =new_df.replace("?", None)

In [ ]:
# Now Check for the NULL Values
from pyspark.sql.functions import *

df.select([count(when(col(c).isNull(), c)).alias(c) for c in new_df.columns]).show()

+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|age|workclass|fnlwgt|education|numbers|marital|occupation|relation|race|gender|gain|loss|hourlypay|country|income|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|  0|        0|     0|        0|      0|      0|         0|       0|   0|     0|   0|   0|        0|      0|     0|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+

In [ ]:
df.groupby("country").count().show()

+-------------------+-----+
|            country|count|
+-------------------+-----+
| Dominican-Republic|   70|
|            Ireland|   24|
|               Cuba|   95|
|          Guatemala|   64|
|               Iran|   43|
|             Taiwan|   51|
|        El-Salvador|  106|
|      United-States|29169|
|              South|   80|
|              Japan|   62|
|          Nicaragua|   34|
|             Canada|  121|
|           Cambodia|   19|
|               Laos|   18|
|            Germany|  137|
|    Trinadad&Tobago|   19|
|               Peru|   31|
|            Ecuador|   28|
|         Yugoslavia|   16|
|            Vietnam|   67|
+-------------------+-----+
only showing top 20 rows

In [ ]:
df = df.fillna("United-States", subset = ['country'])

In [ ]:
df = df.fillna("Private", subset = ['workclass'])

In [ ]:
df = df.fillna("Prof-speciality", subset = ['occupation'])

In [ ]:
df.select([count(when(col(c).isNull(), c)).alias(c) for c in new_df.columns]).show()

+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|age|workclass|fnlwgt|education|numbers|marital|occupation|relation|race|gender|gain|loss|hourlypay|country|income|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|  0|        0|     0|        0|      0|      0|         0|       0|   0|     0|   0|   0|        0|      0|     0|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+

In [ ]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, VectorAssembler

In [ ]:
df.columns

['age',
 'workclass',
 'fnlwgt',
 'education',
 'numbers',
 'marital',
 'occupation',
 'relation',
 'race',
 'gender',
 'gain',
 'loss',
 'hourlypay',
 'country',
 'income']

In [ ]:
categorical_cols = [
 'workclass',
 'education',
 'marital',
 'occupation',
 'relation',
 'race',
 'gender',
 'country',
]

numerical_cols = ['age','fnlwgt','numbers','gain','loss','hourlypay']
label = 'income'

In [ ]:
indexer = [StringIndexer(inputCol = c, outputCol = f"{c}_index", handleInvalid = "keep") for c in categorical_cols]

In [ ]:
label_indexer = StringIndexer(inputCol = "income", outputCol = "label", handleInvalid = "keep")

In [ ]:
assembler = VectorAssembler(inputCols = [f"{c}_index" for c in categorical_cols] + numerical_cols, outputCol = "features")

In [ ]:
lr = LogisticRegression(featuresCol = "features", labelCol = "label")

In [ ]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages = indexer + [label_indexer, assembler, lr])

In [ ]:
train_data, test_data = df.randomSplit([0.8, 0.2])

In [ ]:
model = pipeline.fit(train_data)

In [ ]:
predictions = model.transform(test_data)

In [ ]:
predictions.show()

+---+-------------+--------+-------------+-------+--------------+---------------+---------------+-------------------+-------+----+----+---------+----------------+------+---------------+---------------+-------------+----------------+--------------+----------+------------+-------------+-----+--------------------+--------------------+--------------------+----------+
|age|    workclass|  fnlwgt|    education|numbers|       marital|     occupation|       relation|               race| gender|gain|loss|hourlypay|         country|income|workclass_index|education_index|marital_index|occupation_index|relation_index|race_index|gender_index|country_index|label|            features|       rawPrediction|         probability|prediction|
+---+-------------+--------+-------------+-------+--------------+---------------+---------------+-------------------+-------+----+----+---------+----------------+------+---------------+---------------+-------------+----------------+--------------+----------+------------+-------------+-----+--------------------+--------------------+--------------------+----------+
| 17|            ?| 34019.0|         10th|    6.0| Never-married|              ?|      Own-child|              White|   Male| 0.0| 0.0|       20|   United-States| <=50K|            3.0|            7.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|  0.0|[3.0,7.0,1.0,7.0,...|[10.0530111430271...|[0.99426594377968...|       0.0|
| 17|            ?| 64785.0|         10th|    6.0| Never-married|              ?|      Own-child|              White|   Male| 0.0| 0.0|       30|   United-States| <=50K|            3.0|            7.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|  0.0|[3.0,7.0,1.0,7.0,...|[9.87932449197202...|[0.99190347988535...|       0.0|
| 17|            ?| 89870.0|         10th|    6.0| Never-married|              ?|      Own-child|              White|   Male| 0.0| 0.0|       40|   United-States| <=50K|            3.0|            7.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|  0.0|[3.0,7.0,1.0,7.0,...|[9.70416230647221...|[0.98862094884127...|       0.0|
| 17|            ?| 94366.0|         10th|    6.0| Never-married|              ?| Other-relative|              White|   Male| 0.0| 0.0|        6|   United-States| <=50K|            3.0|            7.0|          1.0|             7.0|           5.0|       0.0|         0.0|          0.0|  0.0|[3.0,7.0,1.0,7.0,...|[11.0681057848992...|[0.99550460292078...|       0.0|
| 17|            ?|110998.0| Some-college|   10.0| Never-married|              ?|      Own-child| Asian-Pac-Islander| Female| 0.0| 0.0|       40|     Philippines| <=50K|            3.0|            1.0|          1.0|             7.0|           2.0|       2.0|         1.0|          3.0|  0.0|[3.0,1.0,1.0,7.0,...|[9.99782207244933...|[0.97726813002257...|       0.0|
| 17|            ?|112942.0|         10th|    6.0| Never-married|              ?|      Own-child|              White|   Male| 0.0| 0.0|       40|   United-States| <=50K|            3.0|            7.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|  0.0|[3.0,7.0,1.0,7.0,...|[9.71015483080029...|[0.98844900814387...|       0.0|
| 17|            ?|138507.0|         10th|    6.0| Never-married|              ?|      Own-child|              White|   Male| 0.0| 0.0|       20|   United-States| <=50K|            3.0|            7.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|  0.0|[3.0,7.0,1.0,7.0,...|[10.0801499641953...|[0.99386062812616...|       0.0|
| 17|            ?|172145.0|         10th|    6.0| Never-married|              ?|      Own-child|              Black| Female| 0.0| 0.0|       40|   United-States| <=50K|            3.0|            7.0|          1.0|             7.0|           2.0|       1.0|         1.0|          0.0|  0.0|[3.0,7.0,1.0,7.0,...|[10.4072078682731...|[0.99295537916031...|       0.0|
| 17|            ?|179715.0|         10th|    6.0| Never-married|              ?|      Own-child|              White|   Male| 0.0| 0.0|       40|   United-States| <=50K|            3.0|            7.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|  0.0|[3.0,7.0,1.0,7.0,...|[9.72749787981895...|[0.98793679218570...|       0.0|
| 17|            ?|210547.0|         10th|    6.0| Never-married|              ?|      Own-child|              White|   Male| 0.0| 0.0|       40|   United-States| <=50K|            3.0|            7.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|  0.0|[3.0,7.0,1.0,7.0,...|[9.73550592030453...|[0.98769276916263...|       0.0|
| 17|            ?|241021.0|         12th|    8.0| Never-married|              ?|      Own-child|              Other| Female| 0.0| 0.0|       40|   United-States| <=50K|            3.0|           11.0|          1.0|             7.0|           2.0|       4.0|         1.0|          0.0|  0.0|[3.0,11.0,1.0,7.0...|[10.5340735971706...|[0.99148233136048...|       0.0|
| 17|            ?|280670.0|         10th|    6.0| Never-married|              ?|      Own-child|              White| Female| 0.0| 0.0|       40|   United-States| <=50K|            3.0|            7.0|          1.0|             7.0|           2.0|       0.0|         1.0|          0.0|  0.0|[3.0,7.0,1.0,7.0,...|[10.2952024966928...|[0.99122630876387...|       0.0|
| 17|            ?|454614.0|         11th|    7.0| Never-married|              ?|      Own-child|              White| Female| 0.0| 0.0|        8|   United-States| <=50K|            3.0|            5.0|          1.0|             7.0|           2.0|       0.0|         1.0|          0.0|  0.0|[3.0,5.0,1.0,7.0,...|[10.7820837292397...|[0.99503599915695...|       0.0|
| 17|            ?|659273.0|         11th|    7.0| Never-married|              ?|      Own-child|              Black| Female| 0.0| 0.0|       40| Trinadad&Tobago| <=50K|            3.0|            5.0|          1.0|             7.0|           2.0|       1.0|         1.0|         32.0|  0.0|[3.0,5.0,1.0,7.0,...|[10.7464219881915...|[0.98977185964560...|       0.0|
| 17|    Local-gov|148194.0|         11th|    7.0| Never-married|   Adm-clerical|      Own-child|              White| Female| 0.0| 0.0|       12|   United-States| <=50K|            2.0|            5.0|          1.0|             3.0|           2.0|       0.0|         1.0|          0.0|  0.0|[2.0,5.0,1.0,3.0,...|[10.4407670500855...|[0.99445465062415...|       0.0|
| 17|    Local-gov|191910.0|         11th|    7.0| Never-married|          Sales|      Own-child|              White|   Male| 0.0| 0.0|       20|   United-States| <=50K|            2.0|            5.0|          1.0|             4.0|           2.0|       0.0|         0.0|          0.0|  0.0|[2.0,5.0,1.0,4.0,...|[9.83005103225657...|[0.98971644349502...|       0.0|
| 17|    Local-gov|244856.0|         11th|    7.0| Never-married| Prof-specialty|      Own-child|              White| Female| 0.0| 0.0|       40|   United-States| <=50K|            2.0|            5.0|          1.0|             1.0|           2.0|       0.0|         1.0|          0.0|  0.0|[2.0,5.0,1.0,1.0,...|[9.82766601910750...|[0.98365227731580...|       0.0|
| 17|    Local-gov|308901.0|         11th|    7.0| Never-married|   Adm-clerical|      Own-child|              White| Female| 0.0| 0.0|       15|   United-States| <=50K|            2.0|            5.0|          1.0|             3.0|           2.0|       0.0|         1.0|          0.0|  0.0|[2.0,5.0,1.0,3.0,...|[10.4280044496263...|[0.99320947058237...|       0.0|
| 17| Never-worked|237272.0|         10th|    6.0| Never-married|              ?|      Own-child|              White|   Male| 0.0| 0.0|       30|   United-States| <=50K|            8.0|            7.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|  0.0|[8.0,7.0,1.0,7.0,...|[9.57431795707453...|[0.98879500100989...|       0.0|
| 17|      Private| 27032.0|         10th|    6.0| Never-married|          Sales|      Own-child|              White| Female| 0.0| 0.0|       12|   United-States| <=50K|            0.0|            7.0|          1.0|             4.0|           2.0|       0.0|         1.0|          0.0|  0.0|[0.0,7.0,1.0,4.0,...|[10.7536408835250...|[0.99689036678631...|       0.0|
+---+-------------+--------+-------------+-------+--------------+---------------+---------------+-------------------+-------+----+----+---------+----------------+------+---------------+---------------+-------------+----------------+--------------+----------+------------+-------------+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [ ]:
predictions.select("prediction", "label", "features").show()

+----------+-----+--------------------+
|prediction|label|            features|
+----------+-----+--------------------+
|       0.0|  0.0|[3.0,7.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,7.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,7.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,7.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,1.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,7.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,7.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,7.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,7.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,7.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,11.0,1.0,7.0...|
|       0.0|  0.0|[3.0,7.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,5.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,5.0,1.0,7.0,...|
|       0.0|  0.0|[2.0,5.0,1.0,3.0,...|
|       0.0|  0.0|[2.0,5.0,1.0,4.0,...|
|       0.0|  0.0|[2.0,5.0,1.0,1.0,...|
|       0.0|  0.0|[2.0,5.0,1.0,3.0,...|
|       0.0|  0.0|[8.0,7.0,1.0,7.0,...|
|       0.0|  0.0|[0.0,7.0,1.0,4.0,...|
+----------+-----+--------------------+
only showing top 20 rows

In [ ]:
predictions.select("prediction", "label").distinct().show()

+----------+-----+
|prediction|label|
+----------+-----+
|       1.0|  1.0|
|       0.0|  1.0|
|       1.0|  0.0|
|       0.0|  0.0|
+----------+-----+

In [ ]:
predictions.groupBy("prediction", "label").count().show()

+----------+-----+-----+
|prediction|label|count|
+----------+-----+-----+
|       1.0|  1.0|  802|
|       0.0|  1.0|  779|
|       1.0|  0.0|  291|
|       0.0|  0.0| 4642|
+----------+-----+-----+

In [ ]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
evaluator = MulticlassClassificationEvaluator(predictionCol = "prediction", labelCol = "label", metricName = "accuracy")

In [ ]:
accuracy = evaluator.evaluate(predictions)
accuracy

0.8357384095793675

In [ ]:
df.show()

+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+
|age|        workclass|  fnlwgt|    education|numbers|             marital|        occupation|      relation|               race| gender|   gain|loss|hourlypay|       country|income|
+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+
| 50| Self-emp-not-inc| 83311.0|    Bachelors|   13.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0.0| 0.0|       13| United-States| <=50K|
| 38|          Private|215646.0|      HS-grad|    9.0|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0.0| 0.0|       40| United-States| <=50K|
| 53|          Private|234721.0|         11th|    7.0|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0.0| 0.0|       40| United-States| <=50K|
| 28|          Private|338409.0|    Bachelors|   13.0|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0.0| 0.0|       40|          Cuba| <=50K|
| 37|          Private|284582.0|      Masters|   14.0|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0.0| 0.0|       40| United-States| <=50K|
| 49|          Private|160187.0|          9th|    5.0| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0.0| 0.0|       16|       Jamaica| <=50K|
| 52| Self-emp-not-inc|209642.0|      HS-grad|    9.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0.0| 0.0|       45| United-States|  >50K|
| 31|          Private| 45781.0|      Masters|   14.0|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084.0| 0.0|       50| United-States|  >50K|
| 42|          Private|159449.0|    Bachelors|   13.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178.0| 0.0|       40| United-States|  >50K|
| 37|          Private|280464.0| Some-college|   10.0|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0.0| 0.0|       80| United-States|  >50K|
| 30|        State-gov|141297.0|    Bachelors|   13.0|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0.0| 0.0|       40|         India|  >50K|
| 23|          Private|122272.0|    Bachelors|   13.0|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0.0| 0.0|       30| United-States| <=50K|
| 32|          Private|205019.0|   Assoc-acdm|   12.0|       Never-married|             Sales| Not-in-family|              Black|   Male|    0.0| 0.0|       50| United-States| <=50K|
| 40|          Private|121772.0|    Assoc-voc|   11.0|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0.0| 0.0|       40|             ?|  >50K|
| 34|          Private|245487.0|      7th-8th|    4.0|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0.0| 0.0|       45|        Mexico| <=50K|
| 25| Self-emp-not-inc|176756.0|      HS-grad|    9.0|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0.0| 0.0|       35| United-States| <=50K|
| 32|          Private|186824.0|      HS-grad|    9.0|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0.0| 0.0|       40| United-States| <=50K|
| 38|          Private| 28887.0|         11th|    7.0|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0.0| 0.0|       50| United-States| <=50K|
| 43| Self-emp-not-inc|292175.0|      Masters|   14.0|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0.0| 0.0|       45| United-States|  >50K|
| 40|          Private|193524.0|    Doctorate|   16.0|  Married-civ-spouse|    Prof-specialty|       Husband|              White|   Male|    0.0| 0.0|       60| United-States|  >50K|
+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+
only showing top 20 rows

## Now We are Going to Implementing Naive Bayes With Help of Pyspark Framework of Python

* Generally we are Going to take dataset as it is like above here as well

In [ ]:
 categorical_cols = [
 'education',
 'marital',
 'occupation',
 'relation',
 'race',
 'gender',
 'country',

]

numerical_cols = ['age','fnlwgt','numbers','gain','loss','hourlypay']
label = 'income'

In [ ]:
def indexer(df, cols):
  indexer = StringIndexer(inputCol = cols, outputCol = f"{cols}_index", handleInvalid = "keep")
  indexed = indexer.fit(df).transform(df)
  return indexed

In [ ]:
indexer(df, 'workclass').show()

+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+---------------+
|age|        workclass|  fnlwgt|    education|numbers|             marital|        occupation|      relation|               race| gender|   gain|loss|hourlypay|       country|income|workclass_index|
+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+---------------+
| 50| Self-emp-not-inc| 83311.0|    Bachelors|   13.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0.0| 0.0|       13| United-States| <=50K|            1.0|
| 38|          Private|215646.0|      HS-grad|    9.0|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0.0| 0.0|       40| United-States| <=50K|            0.0|
| 53|          Private|234721.0|         11th|    7.0|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0.0| 0.0|       40| United-States| <=50K|            0.0|
| 28|          Private|338409.0|    Bachelors|   13.0|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0.0| 0.0|       40|          Cuba| <=50K|            0.0|
| 37|          Private|284582.0|      Masters|   14.0|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0.0| 0.0|       40| United-States| <=50K|            0.0|
| 49|          Private|160187.0|          9th|    5.0| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0.0| 0.0|       16|       Jamaica| <=50K|            0.0|
| 52| Self-emp-not-inc|209642.0|      HS-grad|    9.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0.0| 0.0|       45| United-States|  >50K|            1.0|
| 31|          Private| 45781.0|      Masters|   14.0|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084.0| 0.0|       50| United-States|  >50K|            0.0|
| 42|          Private|159449.0|    Bachelors|   13.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178.0| 0.0|       40| United-States|  >50K|            0.0|
| 37|          Private|280464.0| Some-college|   10.0|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0.0| 0.0|       80| United-States|  >50K|            0.0|
| 30|        State-gov|141297.0|    Bachelors|   13.0|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0.0| 0.0|       40|         India|  >50K|            4.0|
| 23|          Private|122272.0|    Bachelors|   13.0|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0.0| 0.0|       30| United-States| <=50K|            0.0|
| 32|          Private|205019.0|   Assoc-acdm|   12.0|       Never-married|             Sales| Not-in-family|              Black|   Male|    0.0| 0.0|       50| United-States| <=50K|            0.0|
| 40|          Private|121772.0|    Assoc-voc|   11.0|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0.0| 0.0|       40|             ?|  >50K|            0.0|
| 34|          Private|245487.0|      7th-8th|    4.0|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0.0| 0.0|       45|        Mexico| <=50K|            0.0|
| 25| Self-emp-not-inc|176756.0|      HS-grad|    9.0|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0.0| 0.0|       35| United-States| <=50K|            1.0|
| 32|          Private|186824.0|      HS-grad|    9.0|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0.0| 0.0|       40| United-States| <=50K|            0.0|
| 38|          Private| 28887.0|         11th|    7.0|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0.0| 0.0|       50| United-States| <=50K|            0.0|
| 43| Self-emp-not-inc|292175.0|      Masters|   14.0|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0.0| 0.0|       45| United-States|  >50K|            1.0|
| 40|          Private|193524.0|    Doctorate|   16.0|  Married-civ-spouse|    Prof-specialty|       Husband|              White|   Male|    0.0| 0.0|       60| United-States|  >50K|            0.0|
+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+---------------+
only showing top 20 rows

In [ ]:
for cols in categorical_cols:
  index_df = indexer(new_df, cols)
  new_df = index_df

In [ ]:
 new_df = index_df

In [ ]:
new_df.show()

+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+---------------+-------------+----------------+--------------+----------+------------+-------------+
|age|        workclass|  fnlwgt|    education|numbers|             marital|        occupation|      relation|               race| gender|   gain|loss|hourlypay|       country|income|education_index|marital_index|occupation_index|relation_index|race_index|gender_index|country_index|
+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+---------------+-------------+----------------+--------------+----------+------------+-------------+
| 50| Self-emp-not-inc| 83311.0|    Bachelors|   13.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0.0| 0.0|       13| United-States| <=50K|            2.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|
| 38|          Private|215646.0|      HS-grad|    9.0|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0.0| 0.0|       40| United-States| <=50K|            0.0|          2.0|             9.0|           1.0|       0.0|         0.0|          0.0|
| 53|          Private|234721.0|         11th|    7.0|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0.0| 0.0|       40| United-States| <=50K|            5.0|          0.0|             9.0|           0.0|       1.0|         0.0|          0.0|
| 28|          Private|338409.0|    Bachelors|   13.0|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0.0| 0.0|       40|          Cuba| <=50K|            2.0|          0.0|             0.0|           4.0|       1.0|         1.0|          9.0|
| 37|          Private|284582.0|      Masters|   14.0|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0.0| 0.0|       40| United-States| <=50K|            3.0|          0.0|             2.0|           4.0|       0.0|         1.0|          0.0|
| 49|          Private|160187.0|          9th|    5.0| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0.0| 0.0|       16|       Jamaica| <=50K|           10.0|          5.0|             5.0|           1.0|       1.0|         1.0|         11.0|
| 52| Self-emp-not-inc|209642.0|      HS-grad|    9.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0.0| 0.0|       45| United-States|  >50K|            0.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|
| 31|          Private| 45781.0|      Masters|   14.0|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084.0| 0.0|       50| United-States|  >50K|            3.0|          1.0|             0.0|           1.0|       0.0|         1.0|          0.0|
| 42|          Private|159449.0|    Bachelors|   13.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178.0| 0.0|       40| United-States|  >50K|            2.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|
| 37|          Private|280464.0| Some-college|   10.0|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0.0| 0.0|       80| United-States|  >50K|            1.0|          0.0|             2.0|           0.0|       1.0|         0.0|          0.0|
| 30|        State-gov|141297.0|    Bachelors|   13.0|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0.0| 0.0|       40|         India|  >50K|            2.0|          0.0|             0.0|           0.0|       2.0|         0.0|          8.0|
| 23|          Private|122272.0|    Bachelors|   13.0|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0.0| 0.0|       30| United-States| <=50K|            2.0|          1.0|             3.0|           2.0|       0.0|         1.0|          0.0|
| 32|          Private|205019.0|   Assoc-acdm|   12.0|       Never-married|             Sales| Not-in-family|              Black|   Male|    0.0| 0.0|       50| United-States| <=50K|            6.0|          1.0|             4.0|           1.0|       1.0|         0.0|          0.0|
| 40|          Private|121772.0|    Assoc-voc|   11.0|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0.0| 0.0|       40|             ?|  >50K|            4.0|          0.0|             1.0|           0.0|       2.0|         0.0|          2.0|
| 34|          Private|245487.0|      7th-8th|    4.0|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0.0| 0.0|       45|        Mexico| <=50K|            8.0|          0.0|             8.0|           0.0|       3.0|         0.0|          1.0|
| 25| Self-emp-not-inc|176756.0|      HS-grad|    9.0|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0.0| 0.0|       35| United-States| <=50K|            0.0|          1.0|            10.0|           2.0|       0.0|         0.0|          0.0|
| 32|          Private|186824.0|      HS-grad|    9.0|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0.0| 0.0|       40| United-States| <=50K|            0.0|          1.0|             6.0|           3.0|       0.0|         0.0|          0.0|
| 38|          Private| 28887.0|         11th|    7.0|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0.0| 0.0|       50| United-States| <=50K|            5.0|          0.0|             4.0|           0.0|       0.0|         0.0|          0.0|
| 43| Self-emp-not-inc|292175.0|      Masters|   14.0|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0.0| 0.0|       45| United-States|  >50K|            3.0|          2.0|             2.0|           3.0|       0.0|         1.0|          0.0|
| 40|          Private|193524.0|    Doctorate|   16.0|  Married-civ-spouse|    Prof-specialty|       Husband|              White|   Male|    0.0| 0.0|       60| United-States|  >50K|           12.0|          0.0|             0.0|           0.0|       0.0|         0.0|          0.0|
+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+---------------+-------------+----------------+--------------+----------+------------+-------------+
only showing top 20 rows

In [ ]:
assembler = VectorAssembler(inputCols = [f"{c}_index" for c in categorical_cols] + numerical_cols, outputCol = "features")

In [ ]:
vector = assembler.transform(new_df)

In [ ]:
vector.show()

+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+---------------+-------------+----------------+--------------+----------+------------+-------------+--------------------+
|age|        workclass|  fnlwgt|    education|numbers|             marital|        occupation|      relation|               race| gender|   gain|loss|hourlypay|       country|income|education_index|marital_index|occupation_index|relation_index|race_index|gender_index|country_index|            features|
+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+---------------+-------------+----------------+--------------+----------+------------+-------------+--------------------+
| 50| Self-emp-not-inc| 83311.0|    Bachelors|   13.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0.0| 0.0|       13| United-States| <=50K|            2.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|(13,[0,2,7,8,9,12...|
| 38|          Private|215646.0|      HS-grad|    9.0|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0.0| 0.0|       40| United-States| <=50K|            0.0|          2.0|             9.0|           1.0|       0.0|         0.0|          0.0|(13,[1,2,3,7,8,9,...|
| 53|          Private|234721.0|         11th|    7.0|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0.0| 0.0|       40| United-States| <=50K|            5.0|          0.0|             9.0|           0.0|       1.0|         0.0|          0.0|(13,[0,2,4,7,8,9,...|
| 28|          Private|338409.0|    Bachelors|   13.0|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0.0| 0.0|       40|          Cuba| <=50K|            2.0|          0.0|             0.0|           4.0|       1.0|         1.0|          9.0|[2.0,0.0,0.0,4.0,...|
| 37|          Private|284582.0|      Masters|   14.0|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0.0| 0.0|       40| United-States| <=50K|            3.0|          0.0|             2.0|           4.0|       0.0|         1.0|          0.0|[3.0,0.0,2.0,4.0,...|
| 49|          Private|160187.0|          9th|    5.0| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0.0| 0.0|       16|       Jamaica| <=50K|           10.0|          5.0|             5.0|           1.0|       1.0|         1.0|         11.0|[10.0,5.0,5.0,1.0...|
| 52| Self-emp-not-inc|209642.0|      HS-grad|    9.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0.0| 0.0|       45| United-States|  >50K|            0.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|(13,[2,7,8,9,12],...|
| 31|          Private| 45781.0|      Masters|   14.0|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084.0| 0.0|       50| United-States|  >50K|            3.0|          1.0|             0.0|           1.0|       0.0|         1.0|          0.0|[3.0,1.0,0.0,1.0,...|
| 42|          Private|159449.0|    Bachelors|   13.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178.0| 0.0|       40| United-States|  >50K|            2.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|(13,[0,2,7,8,9,10...|
| 37|          Private|280464.0| Some-college|   10.0|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0.0| 0.0|       80| United-States|  >50K|            1.0|          0.0|             2.0|           0.0|       1.0|         0.0|          0.0|(13,[0,2,4,7,8,9,...|
| 30|        State-gov|141297.0|    Bachelors|   13.0|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0.0| 0.0|       40|         India|  >50K|            2.0|          0.0|             0.0|           0.0|       2.0|         0.0|          8.0|(13,[0,4,6,7,8,9,...|
| 23|          Private|122272.0|    Bachelors|   13.0|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0.0| 0.0|       30| United-States| <=50K|            2.0|          1.0|             3.0|           2.0|       0.0|         1.0|          0.0|[2.0,1.0,3.0,2.0,...|
| 32|          Private|205019.0|   Assoc-acdm|   12.0|       Never-married|             Sales| Not-in-family|              Black|   Male|    0.0| 0.0|       50| United-States| <=50K|            6.0|          1.0|             4.0|           1.0|       1.0|         0.0|          0.0|[6.0,1.0,4.0,1.0,...|
| 40|          Private|121772.0|    Assoc-voc|   11.0|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0.0| 0.0|       40|             ?|  >50K|            4.0|          0.0|             1.0|           0.0|       2.0|         0.0|          2.0|[4.0,0.0,1.0,0.0,...|
| 34|          Private|245487.0|      7th-8th|    4.0|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0.0| 0.0|       45|        Mexico| <=50K|            8.0|          0.0|             8.0|           0.0|       3.0|         0.0|          1.0|[8.0,0.0,8.0,0.0,...|
| 25| Self-emp-not-inc|176756.0|      HS-grad|    9.0|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0.0| 0.0|       35| United-States| <=50K|            0.0|          1.0|            10.0|           2.0|       0.0|         0.0|          0.0|(13,[1,2,3,7,8,9,...|
| 32|          Private|186824.0|      HS-grad|    9.0|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0.0| 0.0|       40| United-States| <=50K|            0.0|          1.0|             6.0|           3.0|       0.0|         0.0|          0.0|(13,[1,2,3,7,8,9,...|
| 38|          Private| 28887.0|         11th|    7.0|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0.0| 0.0|       50| United-States| <=50K|            5.0|          0.0|             4.0|           0.0|       0.0|         0.0|          0.0|(13,[0,2,7,8,9,12...|
| 43| Self-emp-not-inc|292175.0|      Masters|   14.0|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0.0| 0.0|       45| United-States|  >50K|            3.0|          2.0|             2.0|           3.0|       0.0|         1.0|          0.0|[3.0,2.0,2.0,3.0,...|
| 40|          Private|193524.0|    Doctorate|   16.0|  Married-civ-spouse|    Prof-specialty|       Husband|              White|   Male|    0.0| 0.0|       60| United-States|  >50K|           12.0|          0.0|             0.0|           0.0|       0.0|         0.0|          0.0|(13,[0,7,8,9,12],...|
+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+---------------+-------------+----------------+--------------+----------+------------+-------------+--------------------+
only showing top 20 rows

# Find The Correlation Using Correlation Matrix
* Pearson - r1
* Spearman - r2

In [ ]:
from pyspark.ml.stat import Correlation

In [ ]:
r1 = Correlation.corr(vector, 'features').head()

In [ ]:
print("Pearson correlation matrix:\n" + str(r1[0]))

Pearson correlation matrix:
DenseMatrix([[ 1.00000000e+00, -5.43416782e-03, -1.64898072e-02,
              -1.40359718e-02,  3.20363191e-02, -4.02192490e-02,
               8.29989518e-02,  7.61126901e-02,  3.44797621e-02,
              -1.70080159e-01,  5.92854586e-02,  2.19370853e-02,
              -7.92968005e-03],
             [-5.43416782e-03,  1.00000000e+00,  4.46484310e-02,
               4.11141505e-01,  6.89452591e-02,  4.08306814e-01,
               2.15272445e-02,  3.05671551e-02,  5.45065475e-03,
              -1.04881636e-01, -5.77150459e-02, -5.33558913e-02,
              -1.46710822e-01],
             [-1.64898072e-02,  4.46484310e-02,  1.00000000e+00,
               5.26534903e-02,  3.65743398e-02, -3.45920157e-02,
              -3.15452062e-04, -5.94370103e-02,  1.55767708e-02,
              -3.16544139e-01, -7.14525414e-02, -4.84331521e-02,
              -7.72244909e-02],
             [-1.40359718e-02,  4.11141505e-01,  5.26534903e-02,
               1.00000000e+00,  1.13957423e-01,  5.53330985e-01,
               4.87428342e-02, -2.35690354e-01,  1.81573346e-02,
              -1.10252056e-01, -5.75760515e-02, -5.83714352e-02,
              -2.27606955e-01],
             [ 3.20363191e-02,  6.89452591e-02,  3.65743398e-02,
               1.13957423e-01,  1.00000000e+00,  6.78329360e-02,
               2.17231893e-01, -3.99993172e-02,  4.88296652e-04,
              -3.97480575e-02, -7.98963238e-03, -1.71919867e-02,
              -3.31151352e-02],
             [-4.02192490e-02,  4.08306814e-01, -3.45920157e-02,
               5.53330985e-01,  6.78329360e-02,  1.00000000e+00,
               1.20361712e-02, -8.88317445e-02, -2.68816830e-02,
              -1.22558872e-02, -4.84768257e-02, -4.55724118e-02,
              -2.29311659e-01],
             [ 8.29989518e-02,  2.15272445e-02, -3.15452062e-04,
               4.87428342e-02,  2.17231893e-01,  1.20361712e-02,
               1.00000000e+00,  5.05604593e-05,  2.20378498e-02,
              -2.88265553e-02, -7.87356008e-03, -3.89426701e-03,
              -3.36395005e-03],
             [ 7.61126901e-02,  3.05671551e-02, -5.94370103e-02,
              -2.35690354e-01, -3.99993172e-02, -8.88317445e-02,
               5.05604593e-05,  1.00000000e+00, -7.66461986e-02,
               3.65268434e-02,  7.76743857e-02,  5.77747860e-02,
               6.87557432e-02],
             [ 3.44797621e-02,  5.45065475e-03,  1.55767708e-02,
               1.81573346e-02,  4.88296652e-04, -2.68816830e-02,
               2.20378498e-02, -7.66461986e-02,  1.00000000e+00,
              -4.31591683e-02,  4.36742916e-04, -1.02589747e-02,
              -1.87699744e-02],
             [-1.70080159e-01, -1.04881636e-01, -3.16544139e-01,
              -1.10252056e-01, -3.97480575e-02, -1.22558872e-02,
              -2.88265553e-02,  3.65268434e-02, -4.31591683e-02,
               1.00000000e+00,  1.22627407e-01,  7.99321456e-02,
               1.48126899e-01],
             [ 5.92854586e-02, -5.77150459e-02, -7.14525414e-02,
              -5.75760515e-02, -7.98963238e-03, -4.84768257e-02,
              -7.87356008e-03,  7.76743857e-02,  4.36742916e-04,
               1.22627407e-01,  1.00000000e+00, -3.16141086e-02,
               7.84088050e-02],
             [ 2.19370853e-02, -5.33558913e-02, -4.84331521e-02,
              -5.83714352e-02, -1.71919867e-02, -4.55724118e-02,
              -3.89426701e-03,  5.77747860e-02, -1.02589747e-02,
               7.99321456e-02, -3.16141086e-02,  1.00000000e+00,
               5.42561667e-02],
             [-7.92968005e-03, -1.46710822e-01, -7.72244909e-02,
              -2.27606955e-01, -3.31151352e-02, -2.29311659e-01,
              -3.36395005e-03,  6.87557432e-02, -1.87699744e-02,
               1.48126899e-01,  7.84088050e-02,  5.42561667e-02,
               1.00000000e+00]])

In [ ]:
r2 = Correlation.corr(vector, "features", "spearman").head()

In [ ]:
print("Spearman correlation matrix:\n" + str(r2[0]))

Spearman correlation matrix:
DenseMatrix([[ 1.        , -0.03810954, -0.12668817, -0.0365897 , -0.0013781 ,
              -0.02272837,  0.12222815,  0.04408941,  0.0131838 ,  0.29282209,
               0.05706276,  0.03123954,  0.01966969],
             [-0.03810954,  1.        ,  0.07998075,  0.66129197,  0.10053435,
               0.45472477, -0.00328774, -0.15117104,  0.01539424, -0.09460986,
              -0.11162906, -0.06780698, -0.20603001],
             [-0.12668817,  0.07998075,  1.        ,  0.09577575,  0.06332943,
               0.00218237,  0.01937029, -0.10199891,  0.01460209, -0.35488984,
              -0.07996246, -0.05485479, -0.13256778],
             [-0.0365897 ,  0.66129197,  0.09577575,  1.        ,  0.14297465,
               0.6029828 ,  0.03757128, -0.32093609,  0.01910783, -0.10718362,
              -0.10159153, -0.068143  , -0.29835   ],
             [-0.0013781 ,  0.10053435,  0.06332943,  0.14297465,  1.        ,
               0.0992671 ,  0.22341099, -0.03031543,  0.03623262, -0.04766043,
              -0.0286342 , -0.01964028, -0.07551797],
             [-0.02272837,  0.45472477,  0.00218237,  0.6029828 ,  0.0992671 ,
               1.        , -0.00505822, -0.10037152, -0.0251079 , -0.00625598,
              -0.06658939, -0.04215942, -0.26494457],
             [ 0.12222815, -0.00328774,  0.01937029,  0.03757128,  0.22341099,
              -0.00505822,  1.        , -0.0116225 ,  0.07370607, -0.04988044,
              -0.01474662, -0.00825103, -0.0145491 ],
             [ 0.04408941, -0.15117104, -0.10199891, -0.32093609, -0.03031543,
              -0.10037152, -0.0116225 ,  1.        , -0.07813748,  0.06633722,
               0.12494981,  0.05848502,  0.14290964],
             [ 0.0131838 ,  0.01539424,  0.01460209,  0.01910783,  0.03623262,
              -0.0251079 ,  0.07370607, -0.07813748,  1.        , -0.03566044,
              -0.00591693, -0.00692324, -0.02162589],
             [ 0.29282209, -0.09460986, -0.35488984, -0.10718362, -0.04766043,
              -0.00625598, -0.04988044,  0.06633722, -0.03566044,  1.        ,
               0.11904559,  0.07475741,  0.16722091],
             [ 0.05706276, -0.11162906, -0.07996246, -0.10159153, -0.0286342 ,
              -0.06658939, -0.01474662,  0.12494981, -0.00591693,  0.11904559,
               1.        , -0.06655831,  0.09334429],
             [ 0.03123954, -0.06780698, -0.05485479, -0.068143  , -0.01964028,
              -0.04215942, -0.00825103,  0.05848502, -0.00692324,  0.07475741,
              -0.06655831,  1.        ,  0.05985181],
             [ 0.01966969, -0.20603001, -0.13256778, -0.29835   , -0.07551797,
              -0.26494457, -0.0145491 ,  0.14290964, -0.02162589,  0.16722091,
               0.09334429,  0.05985181,  1.        ]])

In [ ]:
from pyspark.ml.classification import NaiveBayes
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [ ]:
indexer = StringIndexer(inputCol = "income", outputCol = "label", handleInvalid = "keep")
data = indexer.fit(vector).transform(vector)

In [ ]:
nb = NaiveBayes(featuresCol="features",labelCol = 'label',smoothing=1.0, modelType="multinomial")

In [ ]:
splits = data.randomSplit([0.6, 0.4], 1234)
train = splits[0]
test = splits[1]

In [ ]:
nb = NaiveBayes(featuresCol="features",labelCol = 'label',smoothing=1.0, modelType="multinomial")

In [ ]:
model = nb.fit(train)

In [ ]:
# select example rows to display.
predictions = model.transform(test)
predictions.show()

+---+---------+--------+---------+-------+--------------+----------+---------------+------+-------+----+----+---------+--------------+------+---------------+-------------+----------------+--------------+----------+------------+-------------+--------------------+-----+--------------------+--------------------+----------+
|age|workclass|  fnlwgt|education|numbers|       marital|occupation|       relation|  race| gender|gain|loss|hourlypay|       country|income|education_index|marital_index|occupation_index|relation_index|race_index|gender_index|country_index|            features|label|       rawPrediction|         probability|prediction|
+---+---------+--------+---------+-------+--------------+----------+---------------+------+-------+----+----+---------+--------------+------+---------------+-------------+----------------+--------------+----------+------------+-------------+--------------------+-----+--------------------+--------------------+----------+
| 17|        ?| 34019.0|     10th|    6.0| Never-married|         ?|      Own-child| White|   Male| 0.0| 0.0|       20| United-States| <=50K|            7.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|[7.0,1.0,7.0,2.0,...|  0.0|[-617.09980236678...|[1.0,3.3499513630...|       0.0|
| 17|        ?| 34088.0|     12th|    8.0| Never-married|         ?|      Own-child| White| Female| 0.0| 0.0|       25| United-States| <=50K|           11.0|          1.0|             7.0|           2.0|       0.0|         1.0|          0.0|[11.0,1.0,7.0,2.0...|  0.0|[-737.75055708512...|[1.0,1.4015797658...|       0.0|
| 17|        ?| 48703.0|     11th|    7.0| Never-married|         ?|      Own-child| White| Female| 0.0| 0.0|       30| United-States| <=50K|            5.0|          1.0|             7.0|           2.0|       0.0|         1.0|          0.0|[5.0,1.0,7.0,2.0,...|  0.0|[-725.25657990259...|           [1.0,0.0]|       0.0|
| 17|        ?| 86786.0|     10th|    6.0| Never-married|         ?|      Own-child| White| Female| 0.0| 0.0|       40| United-States| <=50K|            7.0|          1.0|             7.0|           2.0|       0.0|         1.0|          0.0|[7.0,1.0,7.0,2.0,...|  0.0|[-881.88376689404...|           [1.0,0.0]|       0.0|
| 17|        ?|104025.0|     11th|    7.0| Never-married|         ?|      Own-child| White|   Male| 0.0| 0.0|       18| United-States| <=50K|            5.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|[5.0,1.0,7.0,2.0,...|  0.0|[-695.80046075219...|           [1.0,0.0]|       0.0|
| 17|        ?|112942.0|     10th|    6.0| Never-married|         ?|      Own-child| White|   Male| 0.0| 0.0|       40| United-States| <=50K|            7.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|[7.0,1.0,7.0,2.0,...|  0.0|[-909.27276385677...|           [1.0,0.0]|       0.0|
| 17|        ?|145258.0|     11th|    7.0| Never-married|         ?| Other-relative| White| Female| 0.0| 0.0|       25| United-States| <=50K|            5.0|          1.0|             7.0|           5.0|       0.0|         1.0|          0.0|[5.0,1.0,7.0,5.0,...|  0.0|[-867.66293616845...|           [1.0,0.0]|       0.0|
| 17|        ?|151141.0|     10th|    6.0| Never-married|         ?|      Own-child| White|   Male| 0.0| 0.0|       30| United-States| <=50K|            7.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|[7.0,1.0,7.0,2.0,...|  0.0|[-883.41083709090...|           [1.0,0.0]|       0.0|
| 17|        ?|158762.0|     10th|    6.0| Never-married|         ?|      Own-child| White| Female| 0.0| 0.0|       20| United-States| <=50K|            7.0|          1.0|             7.0|           2.0|       0.0|         1.0|          0.0|[7.0,1.0,7.0,2.0,...|  0.0|[-823.31431002862...|           [1.0,0.0]|       0.0|
| 17|        ?|161259.0|     10th|    6.0| Never-married|         ?| Other-relative| White|   Male| 0.0| 0.0|       12| United-States| <=50K|            7.0|          1.0|             7.0|           5.0|       0.0|         0.0|          0.0|[7.0,1.0,7.0,5.0,...|  0.0|[-781.50985508754...|           [1.0,0.0]|       0.0|
| 17|        ?|161981.0|     10th|    6.0| Never-married|         ?|      Own-child| White|   Male| 0.0| 0.0|       40| United-States| <=50K|            7.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|[7.0,1.0,7.0,2.0,...|  0.0|[-985.18898771037...|           [1.0,0.0]|       0.0|
| 17|        ?|170320.0|     11th|    7.0| Never-married|         ?|      Own-child| White| Female| 0.0| 0.0|        8| United-States| <=50K|            5.0|          1.0|             7.0|           2.0|       0.0|         1.0|          0.0|[5.0,1.0,7.0,2.0,...|  0.0|[-726.53589434135...|           [1.0,0.0]|       0.0|
| 17|        ?|172145.0|     10th|    6.0| Never-married|         ?|      Own-child| Black| Female| 0.0| 0.0|       40| United-States| <=50K|            7.0|          1.0|             7.0|           2.0|       1.0|         1.0|          0.0|[7.0,1.0,7.0,2.0,...|  0.0|[-1027.5767055411...|           [1.0,0.0]|       0.0|
| 17|        ?|179715.0|     10th|    6.0| Never-married|         ?|      Own-child| White|   Male| 0.0| 0.0|       40| United-States| <=50K|            7.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|[7.0,1.0,7.0,2.0,...|  0.0|[-1012.6426126582...|           [1.0,0.0]|       0.0|
| 17|        ?|181337.0|     10th|    6.0| Never-married|         ?|      Own-child| Other| Female| 0.0| 0.0|       20| United-States| <=50K|            7.0|          1.0|             7.0|           2.0|       4.0|         1.0|          0.0|[7.0,1.0,7.0,2.0,...|  0.0|[-912.46419112502...|           [1.0,0.0]|       0.0|
| 17|        ?|187539.0|     11th|    7.0| Never-married|         ?|      Own-child| White| Female| 0.0| 0.0|       10| United-States| <=50K|            5.0|          1.0|             7.0|           2.0|       0.0|         1.0|          0.0|[5.0,1.0,7.0,2.0,...|  0.0|[-770.19165467223...|           [1.0,0.0]|       0.0|
| 17|        ?|202521.0|     11th|    7.0| Never-married|         ?|      Own-child| White|   Male| 0.0| 0.0|       40| United-States| <=50K|            5.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|[5.0,1.0,7.0,2.0,...|  0.0|[-1035.2733594720...|           [1.0,0.0]|       0.0|
| 17|        ?|213055.0|     11th|    7.0| Never-married|         ?|  Not-in-family| Other| Female| 0.0| 0.0|       20| United-States| <=50K|            5.0|          1.0|             7.0|           1.0|       4.0|         1.0|          0.0|[5.0,1.0,7.0,1.0,...|  0.0|[-937.08137335681...|           [1.0,0.0]|       0.0|
| 17|        ?|216595.0|     11th|    7.0| Never-married|         ?|      Own-child| Black| Female| 0.0| 0.0|       20| United-States| <=50K|            5.0|          1.0|             7.0|           2.0|       1.0|         1.0|          0.0|[5.0,1.0,7.0,2.0,...|  0.0|[-913.72010607505...|           [1.0,0.0]|       0.0|
| 17|        ?|241021.0|     12th|    8.0| Never-married|         ?|      Own-child| Other| Female| 0.0| 0.0|       40| United-States| <=50K|           11.0|          1.0|             7.0|           2.0|       4.0|         1.0|          0.0|[11.0,1.0,7.0,2.0...|  0.0|[-1239.7965716606...|           [1.0,0.0]|       0.0|
+---+---------+--------+---------+-------+--------------+----------+---------------+------+-------+----+----+---------+--------------+------+---------------+-------------+----------------+--------------+----------+------------+-------------+--------------------+-----+--------------------+--------------------+----------+
only showing top 20 rows

In [ ]:
# compute accuracy on the test set
evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction",
                                              metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Test set accuracy = " + str(accuracy))

Test set accuracy = 0.7855888863445538

# Now We are Going to Implement Decision Tree Model

In [ ]:
from pyspark.ml.classification import DecisionTreeClassifier

In [ ]:
dt = DecisionTreeClassifier(labelCol="label", featuresCol="features", maxBins=45, maxDepth= 8,impurity= "Entropy")  # Set maxBins to at least 43
model = dt.fit(train)

In [ ]:
predictions = model.transform(test)

In [ ]:
# Select example rows to display.
predictions.select("prediction", "label", "features").show(5)

+----------+-----+--------------------+
|prediction|label|            features|
+----------+-----+--------------------+
|       0.0|  0.0|[7.0,1.0,7.0,2.0,...|
|       0.0|  0.0|[11.0,1.0,7.0,2.0...|
|       0.0|  0.0|[5.0,1.0,7.0,2.0,...|
|       0.0|  0.0|[7.0,1.0,7.0,2.0,...|
|       0.0|  0.0|[5.0,1.0,7.0,2.0,...|
+----------+-----+--------------------+
only showing top 5 rows

In [ ]:
# Select (prediction, true label) and compute test error

evaluator = MulticlassClassificationEvaluator(
    labelCol="label", predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Accuracy = %g" % (accuracy))
print("Test Error = %g " % (1.0 - accuracy))

Accuracy = 0.84879
Test Error = 0.15121

In [ ]:
print(model)

DecisionTreeClassificationModel: uid=DecisionTreeClassifier_3ab2fded754a, depth=8, numNodes=199, numClasses=3, numFeatures=13

#Now we Are Going to Implementing Random Forest

In [ ]:
splits = data.randomSplit([0.6, 0.4], 1234)
train = splits[0]
test = splits[1]

In [ ]:
from pyspark.ml.classification import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier(labelCol = 'label', featuresCol = 'features', numTrees = 1000, maxDepth = 10, maxBins = 45)

In [ ]:
model = rf.fit(train)

In [ ]:
predictions = model.transform(test)

In [ ]:
evaluator = MulticlassClassificationEvaluator(labelCol = "label", predictionCol = "prediction", metricName = "accuracy")
accuracy = evaluator.evaluate(predictions)
print("Accuracy = %g" % (accuracy))
print("Test Error = %g " % (1.0 - accuracy))

Accuracy = 0.861385
Test Error = 0.138615

In [ ]:
  from pyspark.ml.classification import GBTClassifier
  gbt = GBTClassifier(labelCol="label", featuresCol="features", maxIter=25, maxBins= 45, maxDepth=15)
  model = gbt.fit(train)

In [ ]:
predictions = model.transform(test)

In [ ]:
evaluator = MulticlassClassificationEvaluator(labelCol = "label", predictionCol = "prediction", metricName = "accuracy")
accuracy = evaluator.evaluate(predictions)
print("Accuracy = %g" % (accuracy))
print("Test Error = %g " % (1.0 - accuracy))

Accuracy = 0.815663
Test Error = 0.184337

In [ ]:
from xgboost.spark import SparkXGBClassifier

In [ ]:
spark_class_estimator = SparkXGBClassifier(
    features_col="features",
    label_col="label",
    num_workers = 2,
)

In [ ]:
model = spark_class_estimator.fit(train)
predictions = model.transform(test)

evaluator = MulticlassClassificationEvaluator(labelCol = "label", predictionCol = "prediction", metricName = "accuracy")
accuracy = evaluator.evaluate(predictions)
print("Accuracy = %g" % (accuracy))
print("Test Error = %g " % (1.0 - accuracy))

INFO:XGBoost-PySpark:Running xgboost-2.1.1 on 2 workers with
	booster params: {'objective': 'binary:logistic', 'device': 'cpu', 'nthread': 1}
	train_call_kwargs_params: {'verbose_eval': True, 'num_boost_round': 100}
	dmatrix_kwargs: {'nthread': 1, 'missing': nan}
INFO:XGBoost-PySpark:Finished xgboost training!

Accuracy = 0.863904
Test Error = 0.136096

## We Apply Now MultiLayer Perceptron

In [79]:
from pyspark.ml.classification import MultilayerPerceptronClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [92]:
layers = [13, 18, 15,12, 2]

In [93]:

trainer = MultilayerPerceptronClassifier(featuresCol = "features", labelCol = "label",maxIter=100, layers=layers, blockSize=128, seed=1234)

In [94]:
model = trainer.fit(train)
predictions = model.transform(test)

evaluator = MulticlassClassificationEvaluator(labelCol = "label", predictionCol = "prediction", metricName = "accuracy")
accuracy = evaluator.evaluate(predictions)
print("Accuracy = %g" % (accuracy))
print("Test Error = %g " % (1.0 - accuracy))

Accuracy = 0.778032
Test Error = 0.221968